[[Repl.Servers]]
    DstSrvrport = ["mail.destination.test", "4493"] # omitted destination port defaults to 993
    SrcSrvrport = ["mail.source.test"] # omitted source details will be copied from destination

    [[Repl.Servers.Accounts]]
        DstAcctpass =  ["username", "password"]
        SrcAcctpass = ["user@domain.test", "userpass"]
    [[Repl.Servers.Accounts]]
        DstAcctpass =  ["other@domain.test", "otherpass"]
        # omitted source details will be copied from destination
